{% extends 'base.html' %}

{% block content %}
 <div class="row">
      <div class=" col-md-3">
          <h2></h2><br /><br />
          <div class="list-group">
            <a href="{% url 'list' %}" class="list-group-item">Company News</a>
            <a href="{% url 'about' %}" class="list-group-item">About</a>
            <a href="{% url 'press_room' %}" class="list-group-item">Press Room</a>
            <a href="{% url 'contact_us' %}" class="list-group-item">Contact Us</a>
          </div>
        </div>
<div class=" col-md-9">
     {% for news in news %}
    <div class="page-header">{{news.headline}}</div>
    <p><span class="glyphicon glyphicon-time"> </span> Posted on {{news.pub_date|date:'F d, Y' }} at {{news.pub_date|date:"P"}}</p>
     <p>{{news.sub_headline}}</p>
     <p class="lead">{{news.description}}</p>
   
<p><a href="{{news.website}}" target="_blank">{{news.website}}</a></p>
<p>{{news.content|linebreaks}}</p>
    {% endfor %}
</div>
 </div>

{% endblock %}